.box{
    position: relative;
    width:100%;
    height:200px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior:smooth;
    -ms-overflow-style: none; 
}

/* chrome */
.box::-webkit-scrollbar { 
    display: none !important;
}

.cardbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 100%;
    height:100%;
    justify-content: space-evenly;
    align-content: space-around;
}

.bincard{
    margin-bottom:0px;
}

.card{
    background:var(--color-badge-gray);
    margin-bottom:0px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.leftbutton{
    position: absolute;
    left: 0px;
    top: 90px;
    width: 12px;
    height: 16px;
    line-height: 16px;
    color: #555;
    border-radius: 50%;
    opacity: 0.8;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em; 
    cursor: pointer;
    z-index: 100;
}

.rightbutton{
    position: absolute;
    right: 0px;
    top: 90px;
    width: 12px;
    height: 16px;
    line-height: 16px;
    color: #555;
    border-radius: 50%;
    opacity: 0.8;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em; 
    cursor: pointer;
    z-index: 100;
}