.backIcon {
  position: absolute;
  font-size: 1.2rem;
  top: 20px;
  left: 1.3em;
}

.userId {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.8rem;
}

.userBord {
  display: flex;
  padding: 2em 0.7em 0 0.7em;
}

.userImg {
  width: 100px;
  height: 100px;
  margin-right: 3em;
}

.userInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userInfoItem {
  margin-right: 2em;
}

.userInfoNum {
  font-size: 1.4rem;
  text-align: center;
}

.userInfoLet {
  font-size: 0.9rem;
  text-align: center;
}

.userNickname {
  font-size: 1.3rem;
  margin: 1em 1em;
}

.otherDisplayBtn {
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
  padding: 15px 0;
}

.followBtn {
  width: 45%;
}

.followingBtn {
  width: 45%;
}

.messageBtn {
  width: 45%;
}

.userIntro {
  margin: 25px;
}

.profileDescription {
  width: 90%;
  margin: 20px 10px 10px 10px;
  overflow: hidden;
}

.profileEdit {
  display: flex;
  flex-direction: column;
}

.editBtn {
  position: absolute;
  margin-right: 10px;
  display: flex;
  align-items: center;
  align-self: flex-end;
  width: 5rem;
  height: 2rem;
  box-sizing: border-box;
  border: none;
  border-radius: 7px;
  color: rgb(255, 255, 255);
  background-color: rgba(128, 0, 128, 0.678);
  font-size: 1rem;
  padding: 3px 10px;
}

/* .editBtnText {
  font-size: 16px;
  margin-right: 0.3em;
} */
