/* skeleton style */
.bg{
    background: linear-gradient(to left,#d8d8d8,#f0f0f0,#f0f0f0,#d8d8d8);
    background-size:200% 200%;
    animation:flow 1s linear infinite;
}

/* shape */
.rect{
    border-radius:0px;
}

.rectRound{
    border-radius:5px;
}

.circle{
    border-radius:50%;
}

/* size */
.auto{
    width:100%;
    height:100%;
}

.mini{
    width:20px;
    height:20px;
}
    
.tiny{
    width:30px;
    height:30px;
} 

.small{
    width:40px;
    height:40px;
} 

.mid{
    width:100px;
    height:100px;
} 

.large{
    width:200px;
    height:200px;
} 

.big{
    width:300px;
    height:300px;
}

/* animation */
@keyframes flow {
    0% { background-position: 200%  }
    100% { background-position: 0% }   
}