/* Button default css */
.badge {
  box-sizing: border-box;
  display: inline-block;
  outline: none;
  width: 60px;
  height: 20px;
  font-size: 0.6rem;
  border-radius: 30px;
  line-height: 20px;
  text-align: center;
}

/* ordnum ssafy 기수별 */
.first {
  background-color: rgb(41, 182, 246);
}

.second {
  background-color: rgb(233, 187, 26);
}

.third {
  background-color: rgb(249, 119, 0);
}

.fourth {
  background-color: rgb(90, 203, 149);
}

.fifth {
  background-color: rgb(226, 157, 227);
}
