/* Button default css */
.badge {
  box-sizing: border-box;
  display: inline-block;
  outline: none;
  width: 60px;
  height: 20px;
  font-size: 0.6rem;
  border-radius: 30px;
  line-height: 20px;
  text-align: center;
  color: var(--color-white);
}

/* ordnum ssafy 기수별 */
.first {
  background-color: var(--color-badge-skyblue);
}

.second {
  background-color: var(--color-badge-yellow);
}

.third {
  background-color: var(--color-badge-orange);
}

.fourth {
  background-color: var(--color-badge-mint);
}

.fifth {
  background-color: var(--color-badge-pink);
}
