.input {
  padding: 1px 10px;
  margin: 0 auto;
  width: 337px;
  height: 34px;
  border: 1px solid #a2a2a2;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  background: white;
}

.input:focus {
  border: 1px solid #202020;
  outline: none;
} 

.short {
  width: 162px;
}

.tall {
  height: 110px;
}