* {
  font-family: "Roboto", sans-serif;
}

.mentoring_title {
  margin-top: 2.5em;
  margin-left: 1em;
  font-size: 1rem;
  font-weight: 900;
}

.friend_reco_title {
  margin-top: 2em;
  margin-left: 1em;
  font-size: 1rem;
  font-weight: 900;
}

.study_title {
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: 1em;
  font-size: 1rem;
  font-weight: 900;
}
