.box {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: relative;
    border: none;
}

.boxM {
    width: 350px;
    height: 250px;
    border-radius: 5px;
    border: none;
    position: relative;

}

.input {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    opacity: 0;
}

.input:hover {
    cursor: pointer;
}

.inputM {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    opacity: 0;
}

.inputM:hover {
    cursor: pointer;
}

.profile {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0px solid white;
    background-color: silver;
    opacity: 1;
}

.mentoring {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    background-color: silver;
    opacity: 1;
}

.attach_icon{
    position:absolute;
    bottom:7px;
    right:7px;
    width:30px;
    height:30px;
    text-align: center;
    line-height: 30px;
    border:2px solid white;
    border-radius: 50%;
    background:#e5e5e5;
    line-height:100%;
    z-index:100;
}