.container {
  text-align: center; 
}

.nav {
  background-color: rgba(0,0,0,0);
  position: absolute;
  width: 100%;
}

.icon {
  font-size: 1.1em;
  margin-left: 15px;
  position: absolute;
  cursor: pointer;
}

.title {
  margin: 0 auto;
}

.head {
  justify-content: center;
  position: relative;
  margin-bottom: 30px;
}

.header {
  width: 100%;
  height: 230px;
  background: rgb(251,229,205);
  background: linear-gradient(
    0deg,
    rgba(251,229,205,1) 0%, rgba(253,227,207,1) 23%,
    rgba(254,210,201,1) 41%, rgba(209,198,204,1) 60%, 
    rgba(191,192,208,1) 81%, rgba(184,195,217,1) 100%);
}

.propic {
  position: absolute;
  top: 120px;
  margin-left: 150px;
  margin-right: 150px;
}

.inputdiv {
  width: 337px;
  margin: 0 auto;
}

.label {
  text-align: left;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 2px;
}

.button {
  width: 100%;
  margin-top: 20px;
}